{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI CareCapacity",
    "description": "CareCapacity API Documentation",
    "license": {
      "name": "MIT"
    },
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://api.carecapacity.ai",
      "description": "Production server (uses live data)"
    },
    {
      "url": "https://staging-api.carecapacity.ai",
      "description": "Staging server (uses test data)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "x-api-key": []
    }
  ],
  "paths": {
    "/fhir/hospitals": {
      "get": {
        "description": "Fetches the list of hospitals associated with the user, including departments.",
        "responses": {
          "200": {
            "description": "List of hospitals with their associated departments.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hospital"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fhir/beds": {
      "post": {
        "description": "Search beds based on department, hospital, bed ID, and other criteria.",
        "requestBody": {
          "description": "Search criteria for beds.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterBedsPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Filtered list of beds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BedWithDetails"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates the status of a specific bed and triggers related activities and notifications.",
        "requestBody": {
          "description": "Bed status update payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBedStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bed status successfully updated.",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fhir/beds/availability": {
      "post": {
        "description": "Search beds availability based on department, hospital, bed ID, and other criteria.",
        "requestBody": {
          "description": "Search availability for beds.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterBedsPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Filtered list of beds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BedWithDetails"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ehr-api-keys": {
      "get": {
        "description": "List FHIR API Keys",
        "responses": {
          "200": {
            "description": "FHIR API Keys List",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EhrApiKey"
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create FHIR API Key",
        "requestBody": {
          "description": "Create FHIR API Key",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FHIRAPIKeyPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "FHIR API Key Created",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ehr-api-keys/{api-key-id}": {
      "get": {
        "description": "Get FHIR API Key based on the ID supplied",
        "parameters": [
          {
            "name": "api-key-id",
            "in": "path",
            "description": "ID of FHIR API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FHIR API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EhrApiKey"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a FHIR API Key based on the ID supplied",
        "parameters": [
          {
            "name": "api-key-id",
            "in": "path",
            "description": "ID of FHIR API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FHIR API Key updated",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a FHIR API Key based on the ID supplied",
        "parameters": [
          {
            "name": "api-key-id",
            "in": "path",
            "description": "ID of FHIR API Key to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "FHIR API Key deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FHIRAPIKeyPayload": {
        "type": "object",
        "properties": {
          "user_id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" }
        }
      },
      "Bed": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "roomNumber": { "type": "string" },
          "bedNumber": { "type": "string" },
          "isLicensed": { "type": "boolean" },
          "isStaffed": { "type": "boolean" },
          "physicalAvailable": { "type": "boolean" },
          "isConnected": { "type": "boolean" },
          "bedType": { "type": "string", "format": "uuid" },
          "status": { "type": "string", "format": "uuid" },
          "department": { "type": "string", "format": "uuid" },
          "hospital": { "type": "string", "format": "uuid" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "isDeleted": { "type": "boolean" }
        }
      },
      "Department": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" }
        }
      },
      "FilterBedsPayload": {
        "type": "object",
        "properties": {
          "department": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "hospital": { "type": "string", "format": "uuid", "nullable": true },
          "limit": { "type": "integer", "format": "int32", "nullable": true },
          "page": { "type": "integer", "format": "int32", "nullable": true },
          "bed_id": { "type": "string", "format": "uuid", "nullable": true },
          "bed_number": { "type": "string", "nullable": true }
        }
      },
      "BedWithDetails": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "bedNumber": { "type": "string" },
          "hospital": {
            "$ref": "#/components/schemas/Hospital"
          },
          "department": {
            "$ref": "#/components/schemas/Department"
          },
          "status": {
            "$ref": "#/components/schemas/BedStatus"
          },
          "bedType": {
            "$ref": "#/components/schemas/BedType"
          },
          "isLicensed": { "type": "boolean" },
          "isStaffed": { "type": "boolean" },
          "physicalAvailable": { "type": "boolean" },
          "isConnected": { "type": "boolean" }
        }
      },
      "UpdateBedStatusRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the bed to update."
          },
          "managingOrganization": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "string",
                "example": "Hospital/{hospital_id}"
              }
            }
          },
          "status": {
            "type": "string",
            "description": "The new status identifier for the bed."
          }
        }
      },
      "BedStatus": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" }
        }
      },
      "BedType": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" }
        }
      },
      "Hospital": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "identifier": { "type": "string" },
          "phone": { "type": "string" },
          "address": { "type": "string" },
          "country": { "type": "string" },
          "zipcode": { "type": "string" },
          "state": { "type": "string" },
          "latitude": { "type": "string" },
          "longitude": { "type": "string" },
          "primaryAdmin": { "type": "string", "format": "uuid" },
          "hospitalType": { "type": "string", "format": "uuid" },
          "ownership": { "type": "string", "format": "uuid" },
          "emergencyServices": { "type": "boolean" },
          "status": { "type": "boolean" },
          "rating": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "isDeleted": { "type": "boolean" },
          "departments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Department"
            }
          }
        }
      },
      "EhrApiKey": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "apikey": { "type": "string" },
          "description": { "type": "string" },
          "user": { "type": "string", "format": "uuid" },
          "status": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "email": { "type": "string" },
          "phone": { "type": "string" },
          "status": { "type": "boolean" },
          "isAdmin": { "type": "boolean" },
          "role": { "type": "string", "format": "uuid" },
          "policies": { "type": "object" },
          "subscriptions": { "type": "object" },
          "isDeleted": { "type": "boolean" },
          "googleId": { "type": "string" },
          "microsoftId": { "type": "string" },
          "magicLinkToken": { "type": "string" },
          "password": { "type": "string" },
          "passwordSetupToken": { "type": "string" },
          "setPassword": { "type": "boolean" },
          "termsStatus": { "type": "boolean" },
          "lastLogin": { "type": "string" },
          "lastLoginAt": { "type": "string", "format": "date-time" },
          "lastLogoutAt": { "type": "string", "format": "date-time" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "x-api-key": {
        "type": "apiKey",
        "name": "api-key-id",
        "in": "header",
        "description": "Prefix the value with \"x-api-key\" to indicate the custom authorization type"
      }
    }
  }
}
